<section class="wrap">
  <h2>{{ i18n.translate('launches.title') }}</h2>

  <app-search-bar
    (queryChange)="onQuery($any($event))"
    [placeholder]="i18n.translate('launches.search')"
  >
  </app-search-bar>

  <div class="pagination-controls-top">
    <label>
      {{ i18n.translate('launches.itemsPerPage') }}
      <select 
        [value]="(pageSize$ | async) || 10" 
        (change)="onLimitChange(+$any($event.target).value)"
      >
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="30">30</option>
      </select>
    </label>
  </div>

  @if (loading$ | async) {
    <div>{{ i18n.translate('launches.loading') }}</div>
  }

  @if (isOffline) {
    <div class="offline-message">
      {{ i18n.translate('launches.offline') }}
    </div>
  }

  @if (error$ | async; as err) {
    <div class="error">{{ err }}</div>
  }

  @if (items$ | async; as launches) {
    <ul class="list">
      @for (launch of launches; track launch.id) {
        <app-item-card [item]="launch"></app-item-card>
      } @empty {
        <li class="row">{{ i18n.translate('launches.noResults') }}</li>
      }
    </ul>
  }

  <div class="pagination-controls">
    <ng-container *ngIf="currentPage$ | async as currentPage">
      <ng-container *ngIf="totalPages$ | async as totalPages">
        <ng-container *ngIf="hasPrevPage$ | async">
          <button 
            type="button" 
            (click)="onPageChange(currentPage - 1)"
            class="pagination-btn"
          >
            {{ i18n.translate('launches.previous') }}
          </button>
        </ng-container>

        <span class="pagination-info">
          {{ i18n.translate('launches.page') }} {{ currentPage }} {{ i18n.translate('launches.of') }} {{ totalPages }}
        </span>

        <ng-container *ngIf="hasNextPage$ | async">
          <button 
            type="button" 
            (click)="onPageChange(currentPage + 1)"
            class="pagination-btn"
          >
            {{ i18n.translate('launches.next') }}
          </button>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>
</section>
